<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ComputApp</display-name>

	<servlet>
		<servlet-name>config</servlet-name>
		<servlet-class>com.advance.program.BookDetailsForConfig</servlet-class>
		<init-param>
			<param-name>BookName</param-name>
			<param-value>Principles of Economics</param-value>
		</init-param>
		<init-param>
			<param-name>BookPrice</param-name>
			<param-value>Two Hundred</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>config</servlet-name>
		<url-pattern>/book</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>SecondBookName</param-name>
		<param-value>Mathematics 2</param-value>
	</context-param>
	<servlet>
		<servlet-name>Calc</servlet-name>
		<servlet-class>com.advance.program.BasicCalculationServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Calc</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AdCalc</servlet-name>
		<servlet-class>com.advance.program.AdvancedCalcServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdCalc</servlet-name>
		<url-pattern>/square</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addBook</servlet-name>
		<servlet-class>com.advance.controller.InsertBookDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addBook</servlet-name>
		<url-pattern>/addBookDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getBookDetails</servlet-name>
		<servlet-class>com.advance.controller.GetBookDetails</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>getBookDetails</servlet-name>
		<url-pattern>/getBookDetails</url-pattern>
	</servlet-mapping>
</web-app>